<div class="titulos" *ngIf="!crear">
    <div class="container">
        <h2>Usuarios</h2>
        <p>Consulta y registro de usuarios en el sistema</p>
    </div>
</div>
<section id="usuarios" class="contenido">
    <div [ngClass]="{ 'container': !crear, 'mt-4': !crear, 'fondo': crear }">
        <div *ngIf="!crear; else bloqueFalso">
            <div class="row">
                <div class="col">
                    <h3>Listado</h3>
                </div>
                <div class="col text-right">
                    <button type="button" (click)="limpiarCampos()" class="btn">
                      <i class="fas fa-plus redes"></i>
                      Nuevo
                    </button>
                </div>
            </div>
            <hr>
            <table mat-table [dataSource]="users" class="mat-elevation-z8 table-responsive-lg">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let user"> {{ user.name }} {{ user.last_name}} </td>
                </ng-container>
                <ng-container matColumnDef="date_birthday">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
                    <td mat-cell *matCellDef="let user"> {{ user.date_birthday }} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
                </ng-container>
                <ng-container matColumnDef="sex">
                    <th mat-header-cell *matHeaderCellDef> Sexo </th>
                    <td mat-cell *matCellDef="let user"> {{ user.sex }} </td>
                </ng-container>
                <ng-container matColumnDef="addres">
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let user"> {{ user.addres }} </td>
                </ng-container>
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef> País </th>
                    <td mat-cell *matCellDef="let user"> {{ user.country }} </td>
                </ng-container>
                <ng-container matColumnDef="Deparment">
                    <th mat-header-cell *matHeaderCellDef> Departamento </th>
                    <td mat-cell *matCellDef="let user"> {{ user.Deparment }} </td>
                </ng-container>
                <ng-container matColumnDef="City">
                    <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                    <td mat-cell *matCellDef="let user"> {{ user.City }} </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let user; let i = index">
                        <button mat-mini-fab class="mr-2 buttonEdit">
                        <i class="fas fa-edit redes"></i>
                      </button>
                        <button (click)="eliminarUsuario(user.id, i)" mat-mini-fab class="buttonTrash">
                        <i class="fas fa-trash redes"></i>
                      </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <ng-template #bloqueFalso>
            <div class="row">
                <div class="col text-right m-3">
                    <button type="button" (click)="crear=false" class="btn">
                      <i class="fas fa-arrow-alt-circle-left redes"></i>
                      Regresar
                    </button>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-10 col-sm-12">
                        <mat-card class="mb-5">
                            <mat-card-title class="text-center">
                                <h3>Contacto</h3>
                            </mat-card-title>
                            <hr>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="p-5">
                                            <div class="mb-2">
                                                <i class="fas fa-envelope mr-2"></i>
                                                <span>consultas@correo.com</span>
                                            </div>
                                            <div class="mb-2">
                                                <i class="fas fa-map-marker-alt mr-2"></i>
                                                <span>Av 16 de Julio No 11 Bogotá Colombia</span>
                                            </div>
                                            <div class="mb-4">
                                                <i class="fas fa-phone mr-2"></i>
                                                <span>(01)4353-454</span>
                                                <br>
                                                <span>(01)3233-452</span>
                                            </div>
                                            <button mat-mini-fab class="mr-2 buttonIcon">
                                                <i class="fab fa-facebook-f redes"></i>
                                            </button>
                                            <button mat-mini-fab class="mr-2 buttonIcon">
                                                <i class="fab fa-twitter redes"></i>
                                            </button>
                                            <button mat-mini-fab class="buttonIcon">
                                                <i class="fab fa-instagram redes"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12">
                                        <form autocomplete="off" (ngSubmit)="guardarUsuario(formulario)" #formulario="ngForm">
                                            <div class="form-group row">
                                                <div class="col-md-6 col-sm-12">
                                                    <select name="sex" id="sex" class="form-control form-control-sm" [(ngModel)]="usuario.sex" [class.is-invalid]="sex.invalid && sex.touched" name="sex" #sex="ngModel" required>
                                                  <option [ngValue]="null" [disabled]="true" >Sexo*</option>
                                                  <option *ngFor="let sex of sexos" [value]="sex.value">
                                                    {{ sex.name }}
                                                  </option>
                                                </select>
                                                    <small *ngIf="sex.invalid && sex.touched" class="form-text text-danger">Campo obligatorio</small>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <input class="form-control form-control-sm" [(ngModel)]="usuario.date_birthday" name="date_birthday" [class.is-invalid]="date_birthday.invalid && date_birthday.touched" required type="date" placeholder="Fecha de nacimiento*" #date_birthday="ngModel">
                                                    <small *ngIf="date_birthday.invalid && date_birthday.touched" class="form-text text-danger">Campo obligatorio</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 col-sm-12">
                                                    <input class="form-control form-control-sm" [(ngModel)]="usuario.name" name="name" [class.is-invalid]="name.invalid && name.touched" minlength="3" required type="text" placeholder="Nombre*" #name="ngModel">
                                                    <small *ngIf="name.invalid && name.touched" class="form-text text-danger">Ingrese al menos 3 letras</small>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <input class="form-control form-control-sm" [(ngModel)]="usuario.last_name" name="apellidos" [class.is-invalid]="last_name.invalid && last_name.touched" minlength="3" required type="text" placeholder="Apellidos*" #last_name="ngModel">
                                                    <small *ngIf="last_name.invalid && last_name.touched" class="form-text text-danger">Ingrese al menos 3 letras</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <input class="form-control form-control-sm" [(ngModel)]="usuario.email" name="email" [class.is-invalid]="email.invalid && email.touched" minlength="3" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" required placeholder="Correo*" #email="ngModel">
                                                    <small *ngIf="email.invalid && email.touched" class="form-text text-danger">Ingrese un correo valido</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <input class="form-control form-control-sm" [(ngModel)]="usuario.addres" name="addres" [class.is-invalid]="addres.invalid && addres.touched" minlength="3" required type="text" placeholder="Dirección*" #addres="ngModel">
                                                    <small *ngIf="addres.invalid && addres.touched" class="form-text text-danger">Ingrese al menos 3 letras</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 col-sm-12">
                                                    <input class="form-control form-control-sm" #casaApartamento name="casaApartamento" type="text" placeholder="Casa/apartamento">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <select name="country" id="country" class="form-control form-control-sm" (ngModelChange)="onPaisChange($event)" [(ngModel)]="usuario.country" [class.is-invalid]="country.invalid && country.touched" #country="ngModel" required>
                                                  <option [ngValue]="null" [disabled]="true" >País*</option>
                                                  <option *ngFor="let country of paises" [value]="country.value">
                                                    {{ country.name }}
                                                  </option>
                                                </select>
                                                    <small *ngIf="country.invalid && country.touched" class="form-text text-danger">Campo obligatorio</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div *ngIf="mostrarDepartamento" class="col-md-6 col-sm-12">
                                                    <select name="Deparment" id="Deparment" class="form-control form-control-sm" (ngModelChange)="onDepartamentoChange($event)" [(ngModel)]="usuario.Deparment" [class.is-invalid]="Deparment.invalid && Deparment.touched" #Deparment="ngModel" required>
                                                  <option [ngValue]="null" [disabled]="true" >Departamento*</option>
                                                  <option *ngFor="let Deparment of departamentos; let i = index" [value]="Deparment.value">
                                                    {{ Deparment.name }}
                                                  </option>
                                                </select>
                                                    <small *ngIf="Deparment.invalid && Deparment.touched" class="form-text text-danger">Campo obligatorio</small>
                                                </div>
                                                <div *ngIf="mostrarCiudad" [ngClass]="{ 'col-md-6 col-sm-12': mostrarDepartamento, 'col-md-12 col-sm-12': !mostrarDepartamento }">
                                                    <select name="City" id="City" class="form-control form-control-sm" [(ngModel)]="usuario.City" [class.is-invalid]="City.invalid && City.touched" #City="ngModel" required>
                                                  <option [ngValue]="null" [disabled]="true" >Ciudad*</option>
                                                  <option *ngFor="let City of ciudades; let i = index" [value]="City.value">
                                                    {{ City.name }}
                                                  </option>
                                                </select>
                                                    <small *ngIf="City.invalid && City.touched" class="form-text text-danger">Campo obligatorio</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <textarea class="form-control form-control-sm" [(ngModel)]="usuario.comment" name="comment" [class.is-invalid]="comment.invalid && comment.touched" minlength="3" required type="text" placeholder="Comentarios*" #comment="ngModel"></textarea>
                                                    <small *ngIf="comment.invalid && comment.touched" class="form-text text-danger">Ingrese al menos 3 letras</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-9 col-form-label">&nbsp;</label>
                                                <div class="input-group col-3 text-right">
                                                    <button type="submit" class="btn btn-success btn-block">
                                                      Enviar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                </div>
            </div>
        </ng-template>
    </div>
</section>
